@import "../../styles/media";

.poster {
	background-color: transparent;

	.swiper {
		.slide {
			border-radius: 2rem;
			overflow: hidden;
			cursor: grab;
			height: auto !important;
			position: relative;
			object-position: center;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			.image {
				width: 100% !important;
				height: 100% !important;
				object-fit: cover;
			}
			.advertising {
				display: flex;
				align-items: center;
				gap: 0.625rem;
				position: absolute;
				bottom: 8px;
				right: 8px;
				padding: 2px 10px;
				color: var(--main-text-color);
				background-color: var(--main-bg-color);
				border-radius: 52px;
				cursor: pointer;
				& > span {
					font-size: 0.875rem;
				}
				.icon {
					width: 2px;
					height: 2px;
					background-color: var(--secondary-bg-color);
					border-radius: 50%;
					display: block;
					position: relative;
					&::after {
						content: "";
						position: absolute;
						top: 4px;
						left: 0;
						width: 2px;
						height: 2px;
						border-radius: 50%;
						background-color: var(--secondary-bg-color);
					}
					&::before {
						content: "";
						position: absolute;
						top: -4px;
						left: 0;
						width: 2px;
						height: 2px;
						background-color: var(--secondary-bg-color);
						border-radius: 50%;
					}
				}
			}
		}
	}
}
