.overlay {
	transition: visibility 0.2s ease, opacity 0.2s ease;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 20;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
}
